a{ 
    color: rgb(55, 189, 2);
    font-family: Arial, sans-serif;
    text-decoration: none;
    padding: 14px;
}

a:hover {
    text-decoration:underline;
    cursor: pointer;
}

a:active {
    color:black;
}

a:visited {
    color: rgb(40, 143, 0);
}

nav ul {
    list-style: none;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(124, 0, 128);
    display: block;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
    }

footer{
    padding-bottom: 10px;
    /* position:fixed; */
    bottom:0;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    width:100%;
    color: rgb(51, 128, 0);
} 

h1{
    font-family: Arial, sans-serif;
    font-size: 22;
    text-align: center;
    color: rgb(52, 133, 52);
}

h2{
    font-family: Arial, sans-serif;
    font-size: 18;
    text-align: center;
    color: rgb(52, 133, 52); 
}

body {
    text-align:center;
}

form{
    color: green;
    display: inline-block;
}

.park1{
    width:50%;
}