{% include "header.html"%}

<head>
  <title> About Us </title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet" type="text/css"> <!--  -->
  <link rel="stylesheet" href="{{ url_for('static', filename='Home.css') }}" type="text/css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> <!-- Where the navigation comes from -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<h1>About The Green Space Place!</h1>

<h2>Who are we?</h2>
<p> Hello! Our names are Amy and Kaylee and we students at the University of Sheffield
  studying Neuroscience and Geography. The production of this website has been
  instigated by the Code First Girls: Coding course. Our aim was to produce
  a webapp which would help locate greenspaces closest to the user!</p>

<h2> Who are Code First? </h2>
<p> Code First: Girls is an organisation which works with companies to encourage
  woman to pursue careers in technology. We were both part of a course which
  began to touch upon the use of python (a type of coding language) for the use
  of website design. Find out some mroe information here: https://www.codefirstgirls.org.uk/</p>
</body>

{% include "footer.html"%}
