<html>
<head>
  <link rel="stylesheet" href="footer.css" type="text/css">
</head>

<footer>
    <div class="footer">
      <p> Want to tell us about where you've been? Get in touch! </p>
      <a href="#"> <img src="https://imgur.com/FJV2xjM.png" title="Facebook" width=30 height=30> </a>
      <a href="#"> <img src="https://imgur.com/UqFc2Yy.png" title="Instagram" width=30 height=30> </a>
      <a href="#"> <img src="https://imgur.com/R9vd7ZF.png" title="Twitter" width=30 height=30> </a>
    </div>
</footer>
<!-- Feel free to edit the footer. I just did this to make sure its working -->
</html>
