{% include "header.html"%}

<!-- <html>
    <head>
        <title>lookupentitiesHTML</title>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
        <style type='text/css'>body{margin:0;padding:0;overflow:hidden;font-family:'Segoe UI',Helvetica,Arial,Sans-Serif}</style>
    </head>
    <body>
        <div id='printoutPanel'></div>
        
        <div id='myMap' style='width: 100vw; height: 100vh;'></div>
        <script type='text/javascript'>
            function loadMapScenario() {
                var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {});
                Microsoft.Maps.loadModule('Microsoft.Maps.Search', function () {
                    var searchManager = new Microsoft.Maps.Search.SearchManager(map);
                    var lat='{{lat}}';
                    var lon='{{lon}}';
                    lat;
                    lon;
                    var entityLookupRequestOptions = {
                        location: new Microsoft.Maps.Location(lat, lon),
                        callback: function (answer) {
                            if (answer) {
                                var pushpins = [];
                                var printText = 'Address: <br>' + answer.addressOfLocation.formattedAddress + '<br><br>Parks <br>';
                                pushpins.push(new Microsoft.Maps.Pushpin(answer.addressOfLocation.location, null));
                                for (var i = 0, len = answer.businessesAtLocation.length; i < len; i++) {
                                    var business = answer.businessesAtLocation[i];
                                    printText += business.entityName + '<br><br>';
                                    pushpins.push(new Microsoft.Maps.Pushpin(business.businessAddress.location, null));
                                }
                                map.entities.push(pushpins);
                                document.getElementById('printoutPanel').innerHTML = printText;
                            }
                        }
                    };
                    searchManager.entityLookup(entityLookupRequestOptions);
                });
                
            }
        </script>
        <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?key=AnzKe5tx1MxMoXCTn2lK8rQq_QfLbLn2kZQDT29Hnai7pobWOTv2h6n3qVMtSooq&callback=loadMapScenario' async defer></script>
    </body>
</html> -->

<!DOCTYPE html>
<html>
    <head>
    
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
        <style type='text/css'>body{margin:0;padding:0;overflow:hidden;font-family:'Segoe UI',Helvetica,Arial,Sans-Serif}</style>
    </head>
    <body>
        <div id='printoutPanel'></div>
        
        <div id='myMap' style='width: 100vw; height: 100vh;'></div>
        <script type='text/javascript'>
            function loadMapScenario() {
                var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {});
                Microsoft.Maps.loadModule('Microsoft.Maps.Search', function () {
                    var searchManager = new Microsoft.Maps.Search.SearchManager(map);
                    var lat='{{lat}}';
                    var lon='{{lon}}';
                    var reverseGeocodeRequestOptions = {
                        location: new Microsoft.Maps.Location(lat, lon),
                        callback: function (answer, userData) {
                            map.setView({ bounds: answer.bestView });
                            map.entities.push(new Microsoft.Maps.Pushpin(reverseGeocodeRequestOptions.location));
                            document.getElementById('printoutPanel').innerHTML =
                                answer.address.formattedAddress;
                        }
                    };
                    searchManager.reverseGeocode(reverseGeocodeRequestOptions);
                });
                
            }
        </script>
        
        <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AnzKe5tx1MxMoXCTn2lK8rQq_QfLbLn2kZQDT29Hnai7pobWOTv2h6n3qVMtSooq&callback=loadMapScenario' async defer></script>
    </body>
</html>
{% include "footer.html"%}